@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    border: 2.5px solid #046b4c;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    color: #046b4c;
    background-color: #f5fffd;
    margin: 1.5rem 4rem;
    padding: 20px 20px;
    line-height: 2rem;
    
}

.head .head-data{
    text-align: center;
    
}

h1, h3, strong, em {
    color: #000000;

}

.main {

    height: 100%;
    display:flex;
    /* flex-direction: column; */
}

.right-panel {
    width: 45%;
    height: 100%;
    /* margin-left: 40px; */
    /* padding-left: 40 px; */
    margin-top: 40px;
    /* border-left: 2px solid #013626; */
    margin-left: 40px;
    
    
}

.left-panel {
    border-right: 2px solid #013626;
    
    width: 65%;
    height: 100%;
    /* margin-left: 40px; */
    margin-top: 40px;
    padding-right: 40px;
}

/* .right-panel-summary {
    margin: 0;
} */

