* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 110%;
  height: 110%;
  background: #858585ce;
}

.seats {
  width: 70vh;
  height: 25%;
  size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  font-size: 30px;
}

/* .booked-seats {
  position: fixed;
  left: 30px;
}

.avaliable-seats {
  position: fixed;
  right: 30px;
} */

.all-blocks {
  background-color: #659696;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 430px;
  height: 430px;
  margin-left: 10px;
  margin-right: 10px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  border-radius: 0px;
  box-shadow: 6px 6px 11px #685959, -6px -6px 11px #978585;

  border-radius: 25px;
  padding: 5px;
}

.blocks {
  background-color: #51c7b7;
  border: 1px solid #0f4231;
  height: 60px;
  width: 60px;
  margin: 5px;
  border-radius: 20px;
}
.blocks:hover {
  cursor: pointer;
  background-color: #557773;
}

.booked {
  background-color: #046366de;
}
